<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Validacao</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.Validacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.UsuarioQuestionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsereRegistro</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.InsereRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MontaQuestionario</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.MontaQuestionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiplaEscolha</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.MultiplaEscolha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Texto</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.Texto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaixaCombinacao</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.CaixaCombinacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiplaEscolhaHorizontal</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.MultiplaEscolhaHorizontal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaixaCombinacaoHorizontal</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.CaixaCombinacaoHorizontal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioResposta</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.RelatorioResposta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizaQuestionario</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.VisualizaQuestionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirQuestionario</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.ExcluirQuestionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaQuestionario</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.EditaQuestionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvaEdicaoQuestionario</servlet-name>
        <servlet-class>br.com.estagioiii.servelet.SalvaEdicaoQuestionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validacao</servlet-name>
        <url-pattern>/Autenticacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsereRegistro</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MontaQuestionario</servlet-name>
        <url-pattern>/Questionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiplaEscolha</servlet-name>
        <url-pattern>/Multipla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Texto</servlet-name>
        <url-pattern>/Texto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaixaCombinacao</servlet-name>
        <url-pattern>/Caixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiplaEscolhaHorizontal</servlet-name>
        <url-pattern>/EscolhaHorizontal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaixaCombinacaoHorizontal</servlet-name>
        <url-pattern>/CombinacaoHorizontal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioResposta</servlet-name>
        <url-pattern>/Relatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizaQuestionario</servlet-name>
        <url-pattern>/Visualiza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirQuestionario</servlet-name>
        <url-pattern>/Excluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaQuestionario</servlet-name>
        <url-pattern>/Edita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvaEdicaoQuestionario</servlet-name>
        <url-pattern>/SalvaEdicao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
